.reactron-default-window__container {
  position: relative;
  height: 100vh;
  width: 100vw;
  border: solid 1px #999999;
  background-color: #ffffff;
}

.reactron-default-window__grid {

}

.reactron-default-window__grid-titlebar {

}

.reactron-default-window__grid-app-root {

}

.reactron-titlebar__container {
  -webkit-app-region: drag;
  // -webkit-app-region: no-drag;
  -webkit-user-select: none;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #bbbbbb;
  background-color: #f9f9fa;
}

.reactron-titlebar__title-wrapper {
  flex: 1 1 auto;
  padding: 10px 20px;
}

.reactron-title__button {
  flex: 0 0 auto;
  -webkit-app-region: no-drag;
  fill: grey;
  padding: 14px 12px 0px 0px;
}

.reactron-title__button:hover {
  fill: red;
}

.reactron-title__button-icon {
  width: 12px;
  height: 12px;
  fill: inherit;
}
