@import './colors.scss';

button {
  flex: 1 1 auto;
  width: 100%;
  margin: 1px;
  padding: 10px 15px;
  background-color: $button-bgcolor-primary;
  border: solid 1px $button-bgcolor-primary;
  border-radius: 3px;
  outline: 0;
  line-height: 1;
  font-size: 11px;
  text-align: center;
  color: $button-color-primary;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($button-bgcolor-primary, 8%);
    border-color: darken($button-bgcolor-primary, 8%);
  }

  &:focus {
    border-color: $grey-500;
  }

  &:active {
    background-color: darken($button-bgcolor-primary, 16%);
  }

  &:disabled {
    background-color: lighten($button-bgcolor-primary, 5%);
    color: lighten($button-color-primary, 30%);
  }
}

/*
* Webpack will hash css classes. Wrap it in a :global to allow these classes to be accessible globally
*/
:global {

  button {
    &.blue {
      background-color: $button-bgcolor-1;
      border: solid 1px $button-bgcolor-1;
      color: $button-color-1;

      &:hover {
        background-color: darken($button-bgcolor-1, 8%);
        border-color: darken($button-bgcolor-1, 8%);
      }

      &:focus {
        border-color: $grey-700;
      }

      &:active {
        background-color: darken($button-bgcolor-1, 16%);
      }

      &:disabled {
        background-color: lighten($button-bgcolor-primary, 5%);
        color: lighten($button-color-primary, 30%);
      }
    }
  }

}
