* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  // font: caption;
  // font-size: 12px;
}

html, body {
  height: 100%;
  background-color: transparent;
}

span {
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: 28px;
  color: inherit;
}

h2 {
  font-size: 24px;
  color: inherit;
}

h3 {
  font-size: 20px;
  color: inherit;
}

h4 {
  font-size: 18px;
  color: inherit;
}

h5 {
  font-size: 16px;
  color: inherit;
}

.reactron-default-window__container {
  position: relative;
  height: 100vh;
  width: 100vw;
  border: solid 1px #555555;
  background-color: #ffffff;
}

.reactron-default-window__grid {

}

.reactron-default-window__grid-titlebar {

}

.reactron-default-window__grid-app-root {

}

.reactron-titlebar__container {
  -webkit-app-region: drag;
  // -webkit-app-region: no-drag;
  -webkit-user-select: none;
  display: flex;
  width: 100%;
  border: solid 1px #ffffff;
  border-bottom: solid 1px #bbbbbb;
  background-color: #f9f9fa;
  // background-color: #e5e5e5;
}

.reactron-titlebar__title-wrapper {
  flex: 1 1 auto;
  padding: 5px 10px;
}

.reactron-title__button {
  flex: 0 0 auto;
  -webkit-app-region: no-drag;
  fill: #999999;
  padding: 8px 8px 0px 0px;
}

.reactron-title__button:hover {
  fill: #212121;
}

.reactron-title__button + .warning :hover {
  fill: red;
}

.reactron-title__button-icon {
  width: 12px;
  height: 12px;
  fill: inherit;
}
